*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
qiangdou/build/
HuoSdkLib/build/
.idea/
/app
/browser
/browser2
/captures
/HuoSdkLib
/ijkmediasdk
/ijkthridutils
/mayizixun
/sdktest
/sese
/videodb
